<!DOCTYPE html>

<script src="{{url_for('static', filename='index.js')}}"></script>

<html>
    <head>
        <title>Democratic Video</title>
    </head>
    <body>
        <h1>Filler</h1>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/tLK6oXRqNSw?autoplay=1" allow='autoplay' frameborder="0" allowfullscreen></iframe>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                 {{ message }}
              {% endfor %}
            {% endif %}
        {% endwith %}
         <img src="{{ url_for('video_feed') }}">

            {% if not username: %}
            <p><a href={{url_for('login')}}>LOGIN</a></p>
            {% else %}
            <p><a href={{url_for('queue')}}>QUEUE</a></p>
<!--             <form method="POST", action=''>
                <div>
                    <label>QUEUE</label>
                    <input type="submit", action="login"/>
                </div>
            </form> -->
            <p><a href={{url_for('logout',method='POST')}}>LOGOUT</a></p>
            <<!-- form method='POST' action=''>
                <label>Logout</label>
                <input type='submit', action='logout'/>
            </form> -->
            {% endif %}
    </body>
</html>

